<%- include('partials/header.ejs') %> 
<%- include('partials/navbar.ejs') %>



<div class="container">
  <div class="card bg-dark-custom" id="tabelas">
    <div class="card-header" style="background-color: transparent; border-bottom: none;">
      <h4 style="font-weight: 700; width: 100%; border-bottom: solid 2px #ffffff48; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);">Alterar Animal</h4>
      <form action="/animais/update/<%= animal.id %>" method="POST" id="label-alterar">
        <label>Nome:</label>
        <input type="text" name="nome" class="form-control" value="<%= animal.nome %>" required id="label-alterar">

        <label>Raça:</label>
        <input type="text" name="raca" class="form-control" value="<%= animal.raca %>" required id="label-alterar">

        <label>Etiqueta:</label>
        <input type="text" name="etiqueta" class="form-control" value="<%= animal.n_etiqueta %>" required id="label-alterar">

        <label>Idade:</label>
        <input type="text" name="idade" class="form-control" value="<%= animal.idade %>" required id="label-alterar">

        <label>Sexo:</label>
        <input type="text" name="sexo" class="form-control" value="<%= animal.sexo %>" required id="label-alterar">

        <label>Coleira:</label>
        <input type="text" name="coleira" class="form-control" value="<%= animal.coleira %>" required id="label-alterar">
    </div>
    <div class="card-body">
        <input type="hidden" name="id" value="<%= animal.id %>">
        <button type="submit" class="btn btn-success" value="Alterar" id="alterar-coleira" onclick="return 
        confirm('Confirma as alterações realizadas para o cliente <%= animal.nome %>?')"> Alterar </button>
      </form>
    </div>
  </div>
</div>


<%- include('partials/footer.ejs') %>