<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<div
  class="container min-vh-100"
  style="display: flex; flex-direction: column; align-items: flex-start"
>
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#AdicionarColeiraModal"
    id="adicionar"
  >
    <i class="fa fa-plus" style="margin-right: 5px"></i>Adicionar Coleira
  </button>
  <div class="tabela-container" id="tabelas">
    <table class="table bg-dark-custom table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nº Etiqueta</th>
          <th scope="col">Localização</th>
          <th scope="col">IP</th>
          <th scope="col" colspan="2" style="text-align: center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% coleiras.forEach(coleira=> { %>
        <tr>
          <td><strong><%= coleira.idcoleira %></strong></td>
          <td><%= coleira.n_coleira %></td>
          <td><%= coleira.coleira_localizacao %></td>
          <td><%= coleira.ip %></td>
          <td>
            <button class="btn btn-warning" id="editar" style="margin-left: 40%;">
              <a
                style="text-decoration: none; color: #243036"
                href="/coleiras/editar/<%= coleira.idcoleira %>"
              >
                <i class="fa fa-edit" style="margin-right: 5px"></i>Editar</a
              >
            </button>
          </td>
          <td>
            <button class="btn btn-danger" id="excluir">
              <a
                style="text-decoration: none; color: #243036"
                onclick="return confirm('Deseja mesmo realizar a exclução da coleira: <%= coleira.n_coleira %>')"
                href="/coleiras/delete/<%= coleira.idcoleira %>"
                ><i class="fa fa-trash" style="margin-right: 5px"></i>Excluir</a
              >
            </button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Adicionar Animal -->
<div
  class="modal fade"
  id="AdicionarColeiraModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="modal-fora-coleira" role="document">
    <div class="modal-content" id="modal-dentro-coleira">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adicionar Novo Animal
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" id="x">&times;</span>
        </button>
      </div>
      <form action="/coleiras/create" method="POST">
        <div class="modal-body">
          <label>Nº Coleira</label>
          <input
            type="text"
            name="n_coleira"
            placeholder="Nº da Coleira"
            class="form-control"
            required
            id="label-modal-coleira"
          />

          <label>IP</label>
          <input
            type="text"
            name="ip"
            placeholder="IP da Coleira"
            class="form-control"
            required
            id="label-modal-coleira"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            id="excluir"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-success" id="adicionar">
            Adicionar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
