<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<div
  class="container-fluid min-vh-100"
  style="padding: 20px 15px"
  data-aos="fade-down"
  data-aos-duration="500"
>
  <div
    style="
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      margin-top: 40px;
    "
  >
    <button
      type="button"
      class="btn btn-success"
      data-toggle="modal"
      data-target="#AdicionarColeiraModal"
      id="adicionar"
    >
      <i class="fa fa-plus" style="margin-right: 5px"></i>Adicionar Coleira
    </button>
  </div>

  <div class="tabela-container" id="tabelas" style="width: 100%">
    <table
      class="table bg-dark-custom table-striped"
      style="table-layout: fixed; width: 100%; font-size: 1.1rem"
    >
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nº Etiqueta</th>
          <th scope="col">Localização</th>
          <th scope="col">IP</th>
          <th scope="col" style="width: 23%; text-align: center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% coleiras.forEach(coleira => { %>
        <tr>
          <td><strong><%= coleira.idcoleira %></strong></td>
          <td><%= coleira.n_coleira %></td>
          <td>
            <% if (coleira.coleira_localizacao) { %> <%=
            coleira.coleira_localizacao %> <% } else { %> Sem Informação <% } %>
          </td>
          <td><%= coleira.ip %></td>
          <td style="text-align: center">
            <div style="display: flex; justify-content: center; gap: 10px">
              <a
                href="/coleiras/editar/<%= coleira.idcoleira %>"
                style="text-decoration: none"
              >
                <button
                  class="btn btn-warning"
                  id="editar1"
                  style="width: 80px"
                >
                  <i class="fa fa-edit" style="margin-right: 5px"></i>
                </button>
              </a>

              <a
                href="/coleiras/delete/<%= coleira.idcoleira %>"
                style="text-decoration: none; color: #243036"
                onclick="return confirm('Deseja mesmo realizar a exclusão da coleira: <%= coleira.n_coleira %>')"
              >
                <button class="btn btn-danger" id="excluir" style="width: 80px">
                  <i class="fa fa-trash" style="margin-right: 5px"></i>
                </button>
              </a>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Adicionar Coleira -->
<div
  class="modal fade"
  id="AdicionarColeiraModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="modal-fora-coleira" role="document">
    <div class="modal-content" id="modal-dentro-coleira">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Adicionar Nova Coleira
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" id="x">&times;</span>
        </button>
      </div>
      <form action="/coleiras/create" method="POST">
        <div class="modal-body">
          <label>Nº Coleira</label>
          <input
            type="text"
            name="n_coleira"
            class="form-control"
            required
            id="label-modal-coleira"
          />

          <label>IP</label>
          <input
            type="text"
            name="ip"
            class="form-control"
            required
            id="label-modal-coleira"
          />
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" id="adicionar">
            Adicionar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            id="excluir"
          >
            Fechar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>
