<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %> 
</head>
<body>
  <div class="container">
    <!-- Cards do topo -->
    <div class="top-cards">
      <div class="card card1">
        <h2>Total de Animais</h2>
          <p><strong><%= totalAnimais %></strong></p>
      </div>
      <div class="card card2">
        <h2>Temperatura Média</h2>
          <p><strong><%= mediaTemperatura %> °C</strong></p>
      </div>
      <div class="card card3">
        <h2>Total de Coleiras</h2>
          <p><strong><%= totalColeiras %></strong></p>
      </div>
    </div>

    <div class="middle-section">
      <div class="left-graph">
      </div>
      <div class="right-graph"></div>
    </div>
  </div>
<%- include('partials/footer.ejs') %>