<%- include('partials/navbar.ejs') %>
  <%- include('partials/header.ejs') %>
    </head>


      <div class="container">
        
<!-- Cards do topo -->
<div class="top-cards">
  <div class="card card1" id="card1">           
    <div class="card-header">
      <h2 id="titulo1">Total de Animais</h2>  
      <img src="/images/buffalo.png" alt="ícone animais" class="icone-card" width="10%">
    </div>
    <p id="texto1"><%= totalAnimais %></p>
  </div>

  <div class="card card2" id="card2">
    <div class="card-header">
      <h2 id="titulo2">Temperatura Média</h2>
      <img src="/images/temperatura.png" alt="ícone temperatura" class="icone-card" width="10%">
    </div>
    <p id="texto2"><%= mediaTemperatura %> °C</p>
  </div>

  <div class="card card3" id="card3">
    <div class="card-header">
      <h2 id="titulo3">Total de Coleiras</h2>
      <img src="/images/coleira.png" alt="ícone coleiras" class="icone-card" width="10%">
    </div>
    <p id="texto3"><%= totalColeiras %></p>
  </div>
</div>

        <!-- Gráficos -->
        <div class="middle-section">
          <div class="left-graph">
            <canvas id="multiAxisChart" width="400"></canvas>

            <script>

              const ctx = document.getElementById('multiAxisChart');
              new Chart(ctx, {
                type: 'line',
                data: {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                  datasets: [
                    {
                      label: 'Temperatura (°C)',
                      data: [36.5, 37.0, 38.2, 36.9, 37.4, 36.7],
                      yAxisID: 'y1',
                      borderColor: 'rgb(255, 99, 132)',  // Cor da linha
                      tension: 0.3,
                      backgroundColor: '#F2C200',
                      borderWidth: 2  // Largura da borda da linha
                    },
                    {
                      label: 'Batimentos (bpm)',
                      data: [70, 72, 74, 73, 75, 71],
                      yAxisID: 'y2',
                      borderColor: '#90A955',  // Cor da linha
                      tension: 0.3,
                      backgroundColor: '#06D001',
                      borderWidth: 2  // Largura da borda da linha
                    }
                  ]
                },

                options: {
                  responsive: true,

                  interaction: {
                    mode: 'index',
                    intersect: false
                  },

                  stacked: false,
                  plugins: {
                    title: {
                      display: true,
                      text: 'Temperatura x Batimentos',
                      color: 'white',  // Cor do título
                      font: {
                        size: 16, // Tamanho da fonte do título
                        weight: 'bold'
                      }
                    },
                    legend: {
                      labels: {
                        color: 'white',  // Cor das legendas
                      }
                    }
                  },

                  scales: {
                    y1: {
                      type: 'linear',
                      position: 'left',
                      title: {
                        display: true,
                        text: 'Temperatura (°C)',
                        color: 'white',  // Cor do texto do eixo
                        font: {
                          size: 15,  // Aumenta o tamanho da fonte dos ticks
                          weight: 'bold'
                        }
                      },
                      grid: {
                        color: 'rgba(255, 255, 255, 0.3)',  // Cor das linhas de grade (grids)
                      },
                      ticks: {
                        color: 'white',  // Cor dos valores do eixo Y
                      }
                    },

                    y2: {
                      type: 'linear',
                      position: 'right',
                      title: {
                        display: true,
                        text: 'Batimentos (bpm)',
                        color: 'white',  // Cor do texto do eixo
                        font: {
                          size: 15,  // Aumenta o tamanho da fonte dos ticks
                          weight: 'bold'
                        }
                      },
                      grid: {
                        color: 'rgba(255, 255, 255, 0.3)',  // Cor das linhas de grade (grids)
                      },
                      ticks: {
                        color: 'white',  // Cor dos valores do eixo Y
                      }
                    },

                    x: {
                      ticks: {
                        color: 'white',  // Cor dos valores do eixo X
                      },
                      grid: {
                        color: 'rgba(255, 255, 255, 0.3)',  // Cor das linhas de grade do eixo X
                      }
                    }
                  }
                }
              });
            </script>

          </div>
          <div class="right-graph"></div>
        </div>
      </div>

      <%- include('partials/footer.ejs') %>
